body {
  background-color: #E0E0FF;
}

.red-white-key {
  background: linear-gradient(-30deg,#ff8383,#fff) !important;
}

.green-white-key {
  background: linear-gradient(-30deg,#85ff83,#fff) !important;
}
